body {
  background-color: #070d2d;
}

.ListItems {
  display: none;
}
.showItems {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-color: #050505;
}
#menubtn {
  font-size: 40px;
  border: none;
  background-color: transparent;
  color: white;
}

#ListItems > div > button {
  border: none;
  background-color: transparent;
  font-size: 40px;
  text-align: left;

  color: white;
}

body > div:first-child {
  display: flex;
  justify-content: end;
  padding: 0px 30px;
}
#ListItems > div > button:hover {
  box-sizing: border-box;
  border-bottom: 2px solid white;
}
